* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffe16f;
}

#map {
  width: 1920px;
  height: 868px;
  /*border: 5px solid #e0c69d;*/
  border-radius: 6px;
  z-index: 1;
}

.none {
  display: none;
}

.shop_info_area {
  position: absolute;
  width: 500px;
  height: 730px;
  padding: 40px;
  background: #f6efdd;
  border-radius: 20px;
  z-index: 999;
  top: 20px;
  left: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /*justify-content: center;*/
}

.shop_info_area .shop_info_head {
  display: flex;
  justify-content: center;
}

.shop_info_area .head_box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7.5px;
  border-bottom: 2px solid rgba(199, 193, 156, 0.65);
  width: 460px;
}

.shop_info_area .shop_info_head #search_keyword {
  width: 260px;
  font-size: 27px;
  color: #8a7961;
}

.shop_info_area .shop_info_head #option {
  outline: none;
  text-align: center;
  border: none;
  padding: 10px;
  border-radius: 7px;
  background: rgba(199, 193, 156, 0.65);
  -webkit-appearance: none;
  font-weight: bold;
  color: #8a7961;
}

.shop_info_area .shop_info_list {
  height: 650px;
  overflow-y: scroll;
}

.shop_info_area .shop_info_list::-webkit-scrollbar {
  display: none;
}

.shop_info_area .shop_info_list {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.shop_info_area .shop_info_list .shop_info_item {
  height: 140px;
  margin: 20px;
  padding: 13px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
}

.shop_info_area .shop_info_list .shop_info_item:hover {
  border: 2px solid black;
  background: aliceblue;
}

.shop_info_area .shop_info_list .shop_info_item #place_name {
  font-size: 22px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.shop_info_area .shop_info_list .shop_info_item #place_name:hover {
  text-decoration: underline;
}

.shop_info_area .shop_info_list .shop_info_item .middle_item {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.shop_info_area .shop_info_list .shop_info_item .middle_item #address_name {
  letter-spacing: -2px;
  color: #777747;
}

.shop_info_area .shop_info_list .shop_info_item .middle_item #distance {
  color: yellowgreen;
}

.shop_info_area .shop_info_list .shop_info_item .under_item {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.shop_info_area .shop_info_list .shop_info_item .under_item #phone {
  color: orange;
  display: inline-block;
}

.shop_info_area .shop_info_list .shop_info_item .under_item #detail {
  /*margin-left: 80px;*/
  color: deepskyblue;
}

.shop_info_area .shop_info_footer {
  display: flex;
  justify-content: center;
}

.shop_info_area .shop_info_footer .shop_page {
  text-align: center;
  margin-top: 14px;
  padding: 10px;
  background: white;
  width: 440px;
  border-radius: 6px;
}

.shop_info_area .shop_info_footer .shop_page button {
  width: 23px;
  height: 27px;
  background: #b4fcff;
  margin-left: 20px;
  border: 1px solid skyblue;
  border-radius: 3px;
  color: #10656b;
}
