* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffd32f;
}

#map {
  width: 1920px;
  height: 868px;
  /*border: 5px solid #e0c69d;*/
  border-radius: 6px;
  z-index: 1;
}

.none {
  display: none;
}

.button_style {
  outline: none;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background: white;
  -webkit-appearance: none;
  font-weight: bold;
  color: #ff8a00;
}

.button_style:hover {
  background: #ff8a00;
  color: white;
  cursor: pointer;
}

.shop_info_area {
  position: absolute;
  width: 500px;
  /*height: 740px;*/
  /*padding: 40px;*/
  background: #ffeeae;
  z-index: 999;
  top: 20px;
  left: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.shop_info_area .shop_info_head {
  display: flex;
  justify-content: center;
  padding: 40px 40px 0;
  background: #ffe286;
  border-radius: 20px 20px 0 0;
}

.shop_info_area .shop_info_head .head_box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  width: 460px;
}

.shop_info_area .shop_info_head #search_keyword {
  width: 260px;
  font-size: 27px;
  color: #000000;
}

.shop_info_area .shop_info_head #option {
  margin-left: 5px;
  -webkit-appearance: none;
}

.shop_info_area .shop_info_list {
  background: white;
  height: 650px;
  overflow-y: scroll;
}

.shop_info_area .shop_info_list::-webkit-scrollbar {
  display: none;
}

.shop_info_area .shop_info_list {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.shop_info_area .shop_info_list .shop_info_item {
  height: 140px;
  margin: 20px;
  padding: 13px;
  background: #ffffff;
  border: 3px solid #ffe286;
  border-radius: 6px;
}

.shop_info_area .shop_info_list .shop_info_item:hover {
  border: 3px solid #ffa500;
  background: #fdf97e;
}

.shop_info_area .shop_info_list .shop_info_item #place_name {
  font-size: 22px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.shop_info_area .shop_info_list .shop_info_item #place_name:hover {
  text-decoration: underline;
}

.shop_info_area .shop_info_list .shop_info_item .middle_item {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.shop_info_area .shop_info_list .shop_info_item .middle_item #address_name {
  letter-spacing: -2px;
  color: #777747;
}

.shop_info_area .shop_info_list .shop_info_item .middle_item #distance {
  color: yellowgreen;
}

.shop_info_area .shop_info_list .shop_info_item .under_item {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.shop_info_area .shop_info_list .shop_info_item .under_item #phone {
  color: orange;
  display: inline-block;
}

.shop_info_area .shop_info_list .shop_info_item .under_item #detail {
  /*margin-left: 80px;*/
  color: deepskyblue;
}

.shop_info_area .shop_info_footer {
  display: flex;
  justify-content: center;
}

.shop_info_area .shop_info_footer .shop_page {
  display: flex;
  justify-content: space-evenly;
  margin-top: 14px;
  padding: 7px 7px 15px;
  width: 150px;
  border-radius: 6px;
}
